.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .shopping-icon {
        width: 30px;
        height: 30px;
    }

    .item-count {
        color: #fff;
        font-family: 'Open Sans Condensed', sans-serif;
        position: absolute;
        bottom: 7px;
        // font-weight: 600;
    }
}